.label-display{
    min-height: 250px;

}

.label-top{
    color: #3c4043;
    letter-spacing: .00625em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 550;
    line-height: 1.5rem;
    height: 25px;
    font-size: 16px;

}

.example-form-field {
    width: 200px;
  }

  /deep/ .mat-dialog-container {
    display: block;
    padding: 15px;
    border-radius: 0px;
    box-sizing: border-box;
    overflow: hidden;
    outline: 0;
    width: 83%;
    height: 100%;
    min-height: 250px;
    height: 100%;
   
    max-height: inherit;
} 
.done{
        box-sizing: border-box;
        color: rgba(0,0,0,.87);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        letter-spacing: .01785714em;
        font-family: 'Google Sans',Roboto,Arial,sans-serif;
        font-size: .875rem;
        font-weight: 550;
        line-height: 1.25rem;
        height: 36px;
        padding: 8px 24px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
button{
    background: transparent
}
img{
    height: 15px;
}

:host /deep/ .mat-input-element {
    font: inherit;
    background: 0 0;
    color: currentColor;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: 'Roboto',arial,sans-serif;
    font-weight: 550;
    
}

span{
    font-size: 13px;
    margin-left: 40px;
    position: absolute;
    margin-top: 2px;
   letter-spacing: 0.34px;
    font-family: 'Roboto',arial,sans-serif;
    font-weight: 550;



}

// /deep/ .material-icons {
    
//     font-size: 19px;
//     margin-left: 23px;
//     opacity: 0.60;
// }

.show-labels{
    margin-bottom: 19px;
    visibility: visible;
}

.create-label{
    margin-top: 10px;
}


/deep/ .mat-input-element {
    font: inherit;
    background: 0 0;
    color: currentColor;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    width: 90%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    font-size: 10px;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
}

.input-field{
    margin-bottom: 9px;
}

.footer-label{
    margin-top: 10px;
    margin-left: 53px;
}

.label-icon{
    font-size: 15px;
    opacity: 0.65;
    // margin-left: 23px;
    // margin-left: -43px;
}
.delete-btn{
    visibility: hidden;
}
.show-labels:hover .delete-btn{
 visibility: visible;
 margin-top:-10px;
}

.show-labels:hover .label{
    visibility: hidden;

   }

  .label{
    margin-left: -67px;
    margin-top:-10px;
    

  } 
