.forgot-form{
    margin-top: 6%
}
.forgot-card{
    height: 420px;       
}
.forgot-header{
    margin-top: 10%;
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 1.5;
    font-weight: 400;
    color: #202124;
    font-family: roboto,arial,sans-serif;
}
.forgot-subheader{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    margin-top: 8%
}

.forgot-subsubheader{
    font-size: 14px;
    white-space: normal;
    line-height: 1.4286;
    color: #202124;
    font-family: roboto,arial,sans-serif;
    margin-top: 10%

}
.forgot-email{
    margin-bottom: 5%
}
.forgot-email-field{
    height: 20px;
}
.submitt{
    background: #4285f4;
    
}

.nextt{
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    font-size: 14px;
    font-family: 'Google Sans',arial,sans-serif;
    color: #fff;
}

.f{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .25px;
    color: rgb(89, 245, 89)
}

.u{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .25px;
    color: rgb(252, 49, 49)
}

.n{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .25px;
    color: rgb(226, 226, 19);
}

.d{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .25px;
    color: rgb(40, 40, 240);
}

.o{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .25px;
    color:  rgb(252, 49, 49);
}

.oo{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .25px;
    color:  rgb(89, 245, 89)
}

.N{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .25px;
    color:  rgb(226, 226, 19);
}
.t{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .25px;
    color: rgb(40, 40, 240);
}
.e{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .25px;
    color:  rgb(252, 49, 49);
}

.s{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .25px;
    color:  rgb(226, 226, 19);
}
