<div fxFlex="100" fxLayoutAlign="center center" class="forgot-form">
  <mat-card class="forgot-card" fxFlex="30">

    <div class="forgot-header">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-title class="forgot-header">
          <span class="f">F</span>
          <span class="u">u</span>
          <span class="n">n</span>
          <span class="d">d</span>
          <span class="o">o</span>
          <span class="oo">o</span>
          <span class="N">N</span>
          <span class="oo">o</span>
          <span class="t">t</span>
          <span class="e">e</span>
          <span class="s">s</span>
        </mat-card-title>
      </mat-card-header>

      <mat-card-header fxLayoutAlign="center">
        <mat-card-title class="forgot-subheader">Account recovery</mat-card-title>
      </mat-card-header>

      <mat-card-header>
        <mat-card-title class="forgot-subsubheader">We will send you one reset password link to your registered Email
        </mat-card-title>
      </mat-card-header>
    </div>

    <div class="forgot-email">
      <mat-form-field class="forgot-email-input" appearance="outline" fxLayout="column">
        <mat-label>Your email address</mat-label>
        <input class="forgot-email-field" matInput placeholder="Your email address" [formControl]="email"
          autocomplete="off">
        <mat-error *ngIf="email.invalid"> {{errorMessageForEmail()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="forgot-password" fxLayoutAlign="end">
      <button mat-raised-button class="submitt" (click) = "verifyUser()"><span class="nextt">Next</span></button>
    </div>
   
  </mat-card>
</div>