.card-content{
    margin-left: 40px;
    margin-bottom: 40px;
    justify-content: center;
    max-width: 100px;
    max-height: 400px;
    border-radius: 10px;
}

.card{
   justify-content: center; 
}

.description{
    overflow: hidden;
    margin-bottom: 12px;
}

.item-title{
    letter-spacing: .00625em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 550;
    line-height: 1.5rem;
}

.matCardFooterIcons{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.2s linear;
}

.card-content:hover .matCardFooterIcons {
    visibility: visible;
    opacity: 1;
    // background-color: black;
}

@media screen and (min-width: 700px){
.cardListView{
    width:650px;

}
}

@media screen and (max-width: 700px){
    .cardListView{
        width:350px;
    }
    }
 .cardGridView{
     max-width: 250px !important;
     max-height: 400px !important; 
 }   
:host /deep/ .mat-chip {
    font-size: 10px;
    font-weight: 500;
}

:host /deep/ .mat-standard-chip {
    padding: 7px 7px;
    min-height: 26px;
 
}

:host /deep/ .mat-chip.mat-standard-chip {
    color: rgba(0,0,0,.87);
    background: #0000001f;
}

:host /deep/ .mat-standard-chip.mat-chip-with-trailing-icon {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 4px;
    padding-left: 0px;
}

.time-icon{
    margin-right: 8px;
}

:host /deep/ 
.mat-chip.mat-standard-chip .mat-chip-remove {
    color: rgba(0,0,0,.87);
    opacity: 0.6;
}

.show-reminders .remove{
    opacity: 1;
    visibility: hidden;
}
.show-reminders:hover .remove{
    opacity: 1;
    visibility: visible;
}

.show-time{
    color: rgba(0,0,0,.87);
    font-weight: 550;
    font-size: 11px;
    border: 1px solid transparent;
    text-align: center;

}
