

.title{
    display: inline-block;
    font-size: 20px;
    font-family: Roboto,Arial,sans-serif;
}

.divider{
 margin-top: 10px
}

.add-image-icon{
    height: 178px;
    margin-top: 59px;
    opacity: 0.5;
}