<!-- <ng4-loading-spinner [threshold]="0000" [timeout]="1000" -->
<!-- [loadingText]="'Please wait... while we are loading your dashboard..'" [zIndex]="9999"></ng4-loading-spinner> -->
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" fxFlex="100" fxFlex.xs="100">

  <mat-toolbar class="example-toolbar" fxFlex.xs="100">
    <div fxFlex="100" fxLayoutAlign="space-between center">
      <div fxFlex="20" fxLayoutAlign="space-between center">
        <div fxFlex="20" fxLayout="row" fxLayoutAlign.xs="start center" fxLayoutAlign="center center">
          <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
          <div class="logo" fxFlex="25">
            <img src="../../../assets/new.png" style="height: 37px ; margin-top: 10px">
          </div>
          <div fxFlex="50" fxHide.sm='true' fxHide.xs='true'>
            <span class="app-title" *ngIf="headerName == null">fundooNotes</span>
            <span class="app-title">{{headerName}}</span>

          </div>
        </div>
      </div>
      <div fxFlex="50">
        <mat-form-field appearance="outline" fxLayout="column">
          <!-- <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button> -->
          <input fxFlex="90" fxFlex.sm="80" fxFlex.xs="50" matInput placeholder="search" autocomplete="off">
        </mat-form-field>
      </div>

      <div fxFlex="9" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign="space-between center">
        <!-- <div fxFlex="3">
          <button mat-icon-button>
            <mat-icon>refresh</mat-icon>
          </button>
        </div> -->
        <div fxFlex="2">
          <button mat-icon-button>
            <mat-icon>border_all</mat-icon>
          </button>
        </div>
        <!-- <div fxFlex="2">
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </div> -->
      </div>
      <div fxFlex="10" fxLayoutAlign="end end">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
  <mat-divider></mat-divider>

  <mat-sidenav-container class="sidenavBar">
    <mat-sidenav #snav mode="side" class="sideNav">
      <mat-nav-list class="sideNavList">
        <div class="top-sidenav-content">
          <div>
            <button mat-button [routerLink]="['notes']" routerLinkActive="router-link-active"
              (click)="headerName='fundooNotes'"
              [ngClass]="{'sideNavListItems': headerName!='fundooNotes', 'sideNavlistItemsColored': headerName=='fundooNotes'}">
              <mat-icon>lightbulb_outline</mat-icon> Notes
            </button>
          </div>

          <div>
            <button mat-button (click)="headerName='Reminders'"
              [ngClass]="{'sideNavListItems': headerName!='Reminders', 'sideNavlistItemsColored': headerName=='Reminders'}">
              <mat-icon>notifications_none</mat-icon> Reminders
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="label-content">
          <div class="label-example">
            <label><span class="label-name">LABELS</span></label>
          </div>
          <button class="sideNavListItems" mat-button (click)="openEditLabelDialog()">
            <!-- <mat-icon>edit</mat-icon> -->
            <img src="../../../assets//editlabel.svg">
            <span>Edit Labels</span>
          </button>
        </div>
        <mat-divider></mat-divider>
        <div>
          <button mat-button [routerLink]="['archives']" (click)="headerName='Archive'"
            [ngClass]="{'sideNavListItems': headerName!='Archive', 'sideNavlistItemsColored': headerName=='Archive'}">
            <!-- <mat-icon>archive</mat-icon>  -->
            <img src="../../../assets/archive2.svg">
            <span>Archive</span>
          </button>
        </div>

        <div>
          <button mat-button [routerLink]="['trash']" (click)="headerName='Trash'"
            [ngClass]="{'sideNavListItems': headerName!='Trash', 'sideNavlistItemsColored': headerName=='Trash'}">
            <!-- <mat-icon>delete</mat-icon>  -->
            <img src="../../../assets/trash2.svg">
            <span class="trash-option">Trash</span>
          </button>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sideNavContent">

      <!-- <app-addnote (childEvent)="addNote($event)"></app-addnote> -->

      <!-- <app-card [parentSubject]="parentSubject"></app-card> -->
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sideNavList" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches">
      <mat-nav-list  class="sideNavList">
      
        <div>
          <button mat-button fxLayout="column" fxLayoutAlign="start stretch">
            <mat-icon>lightbulb_outline</mat-icon>
            Notes
          </button>
        </div>
        <div>
          <button mat-button>
            <mat-icon>notifications_none</mat-icon>
            Reminders
          </button>
        </div>
   
        <mat-divider></mat-divider>
        <span>LABELS</span>
        <div>
          <button mat-button>
            <mat-icon>create</mat-icon>
            Edit labels
          </button>
        </div>

        <mat-divider></mat-divider>
        <div>
          <button mat-button>
            <mat-icon>archive</mat-icon>
            Archive
          </button>
        </div>
  
        <div>
          <button mat-button>
            <mat-icon>delete_outline</mat-icon>
            Trash
          </button>
        </div>
     
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sideNavContent">
      <app-addnote (childEvent)="addNote($event)"></app-addnote>

      <app-card [parentSubject]="parentSubject"></app-card>
    </mat-sidenav-content>
  </mat-sidenav-container> -->





  <!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sideNavList" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches">
      <mat-nav-list  class="sideNavList">
      
        <div>
          <button mat-button fxLayout="column" fxLayoutAlign="start stretch">
            <mat-icon>lightbulb_outline</mat-icon>
            Notes
          </button>
        </div>
        <div>
          <button mat-button>
            <mat-icon>notifications_none</mat-icon>
            Reminders
          </button>
        </div>
   
        <mat-divider></mat-divider>
        <span>LABELS</span>
        <div>
          <button mat-button>
            <mat-icon>create</mat-icon>
            Edit labels
          </button>
        </div>

        <mat-divider></mat-divider>
        <div>
          <button mat-button>
            <mat-icon>archive</mat-icon>
            Archive
          </button>
        </div>
  
        <div>
          <button mat-button>
            <mat-icon>delete_outline</mat-icon>
            Trash
          </button>
        </div>
     
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sideNavContent">
      <app-addnote (childEvent)="addNote($event)"></app-addnote>

      <app-card [parentSubject]="parentSubject"></app-card>
    </mat-sidenav-content>
  </mat-sidenav-container> -->


  <!-- <mat-sidenav-container class="sidenavBar">
          <mat-sidenav #sidenav mode="side" opened="true" style="min-width:50px;" class="sideNav">
            <mat-nav-list class="sideNavList">       
              <div>
                <button mat-button  [routerLink]="['addNote']" (click)="headerName='Fundoo Notes'" [ngClass]="{'sideNavListItems': headerName!='Fundoo Notes', 'sideNavlistItemsColored': headerName=='Fundoo Notes'}">
                  <mat-icon>lightbulb_outline</mat-icon> Notes
                </button>
              </div>
        
              <div>
                <button mat-button  (click)="headerName='Reminders'" [ngClass]="{'sideNavListItems': headerName!='Reminders', 'sideNavlistItemsColored': headerName=='Reminders'}">
                  <mat-icon>notifications_none</mat-icon> Reminders
                </button>
              </div>
              <mat-divider></mat-divider>
              <div>
                <mat-label class="label-example" [style.fontSize.px]=16>Labels</mat-label>
             
                <button class="sideNavListItems" mat-button (click)="openModal(mytemplate)"> <mat-icon>edit</mat-icon>Edit Labels</button>

    <ng-template #mytemplate>
        <div>

            <h3>Edit Label</h3>
          <div>
            
              <div fxLayout="row" fxLayoutAlign="space-between center" >
              <input matInput type="text" placeholder="add label" [(ngModel)]="value">
              <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon [style.fontSize.px]=15> close</mat-icon>
              </button>
          </div>
          <div fxLayoutAlign="end" >
          <button mat-button>close</button></div>
          </div>
          
          
          </div>
    </ng-template>
              </div>
              <mat-divider></mat-divider>
              <div>
                <button mat-button  (click)="headerName='Archive'" [ngClass]="{'sideNavListItems': headerName!='Archive', 'sideNavlistItemsColored': headerName=='Archive'}">
                  <mat-icon>archive</mat-icon> Archive
                </button>
              </div>
        
              <div>
                <button mat-button  (click)="headerName='Trash'" [ngClass]="{'sideNavListItems': headerName!='Trash', 'sideNavlistItemsColored': headerName=='Trash'}">
                  <mat-icon>delete</mat-icon> Trash
                </button>
              </div>     
            </mat-nav-list>  
          </mat-sidenav> 
          <mat-sidenav-content class="sideNavContent">
          
            <router-outlet></router-outlet>
            
        </mat-sidenav-content> 
        </mat-sidenav-container> -->



  <!-- <mat-sidenav-container class="sidenavBar">
            <mat-sidenav #sidenav mode="side" opened="true" style="min-width:50px;" class="sideNav">
              <mat-nav-list class="sideNavList">       
                <div>
                  <button mat-button  [routerLink]="['addNote']" (click)="headerName='Fundoo Notes'" [ngClass]="{'sideNavListItems': headerName!='Fundoo Notes', 'sideNavlistItemsColored': headerName=='Fundoo Notes'}">
                    <mat-icon>lightbulb_outline</mat-icon> Notes
                  </button>
                </div>
          
                <div>
                  <button mat-button  (click)="headerName='Reminders'" [ngClass]="{'sideNavListItems': headerName!='Reminders', 'sideNavlistItemsColored': headerName=='Reminders'}">
                    <mat-icon>notifications_none</mat-icon> Reminders
                  </button>
                </div>
                <mat-divider></mat-divider>
                <div>
                  <mat-label class="label-example" [style.fontSize.px]=16>Labels</mat-label>
                  
                  <button class="sideNavListItems" mat-button (click)="openModal(mytemplate)"> <mat-icon>edit</mat-icon>Edit Labels</button>
  
      <ng-template #mytemplate>
          <div>
  
              <h3>Edit Label</h3>
            <div>
              
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                <input matInput type="text" placeholder="add label" [(ngModel)]="value">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon [style.fontSize.px]=15> close</mat-icon>
                </button>
            </div>
            <div fxLayoutAlign="end" >
            <button mat-button>close</button></div>
            </div>
            
            
            </div>
      </ng-template>
                </div>
                <mat-divider></mat-divider>
                <div>
                  <button mat-button  (click)="headerName='Archive'" [ngClass]="{'sideNavListItems': headerName!='Archive', 'sideNavlistItemsColored': headerName=='Archive'}">
                    <mat-icon>archive</mat-icon> Archive
                  </button>
                </div>
          
                <div>
                  <button mat-button  (click)="headerName='Trash'" [ngClass]="{'sideNavListItems': headerName!='Trash', 'sideNavlistItemsColored': headerName=='Trash'}">
                    <mat-icon>delete</mat-icon> Trash
                  </button>
                </div>     
              </mat-nav-list>  
            </mat-sidenav> 
            <mat-sidenav-content class="sideNavContent">
            
<app-addnote (childEvent)="addNote($event)"></app-addnote>

      <app-card [parentSubject]="parentSubject"></app-card>              
          </mat-sidenav-content> 
          </mat-sidenav-container>
          -->