$main-color: #F44336;
.example-container {
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    background-color: #fff;

  }
  
  // h1.example-app-name {
  //   margin-left: 8px;
  // }
  
  // .sidenav-container {
  //   /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
  //      causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  //   flex: 1;
    
  // }
  
  // .example-is-mobile .sidenav-container {
  //   /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
  //      `<body>` to be our scrolling element for mobile layouts. */
  //   flex: 1 0 auto;
  //   width:1000px;
  // }

  .sideNav{
    height: 600px;
  }



  :host /deep/ .mat-form-field-appearance-outline .mat-form-field-outline {
    display: flex;
    position: absolute;
    top: 1.8em;
    left: 0;
    right: 0;
    bottom: 0.2em;
    pointer-events: none;
    
}

:host /deep/ input.mat-input-element {
    margin-top: 1.0175em;
}

:host /deep/ input, textarea, select {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    font: 400 15.3333px Arial;
}

.app-title{
    font-family: 'Product Sans',Arial,sans-serif;
    font-size: 22px;
    line-height: 24px;
    padding-left: 0px;
    position: relative;
    top: -1.5px;
    vertical-align: middle;
    opacity: .62;
    letter-spacing: 0.04em;
    font-weight: 500;
}



.sideNavList {
  width: 270px;
  height: 98.6%;
  background-color: #ffffff;
  }
  
  .sideNavListItems,
  .sideNavlistItemsColored {
    font-family: 'Google Sans',Roboto,Arial,sans-serif;  
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 270px;
  font-size: .875rem;
  padding: 8px;
  background-color: #ffffff;
  align-items: baseline;
  text-align: left;
  font-weight: 550;
  letter-spacing: .01785714em;

  }
  
  .sideNavlistItemsColored {
  background-color: #ffe9a7 !important;
  color: rgba(0, 0, 0, 0.8);
  }
  
  .sideNavListItems .mat-icon,
  .sideNavlistItemsColored .mat-icon {
  padding-left: 10px;
  padding-right: 30px;
  }
  
  .sideNavListItems:hover {
  background-color: #e6e6e6;
  }
  
  .sidenavContent {
  background-color: rgb(255, 255, 255); // max-width: 600px;
  max-width: -webkit-fill-available;
  margin-left: 200px;
  }
  
  .label-name{
    color: #5f6368;
    cursor: default;
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    padding: 15px 16px 99px;
  }

  .label-example{
    margin-top: 20px;
    margin-bottom: 5px;

  }

  .label-content{
    margin-bottom: 10px;
  }

  .top-sidenav-content{
    margin-bottom: 10px;
  }

  img{
    margin-left:9px;
    height:21px;
  }

  span{
    margin-left:35px;
  }

  // .btn-bwn{
  //   background-color: $main-color;
  //   border-color : $main-color;
  //   color:white;
  //   padding: 15px 32px;
  //   font-size : 20px;

  //   &:hover , &focus , &active {
  //     border-color : $main-color !important;
  //     background-color: $main-color !important;
  //   }
  // }



  .image-upload-container{
    cursor: pointer;
  }

  .img-preview-container{
    background-color: #f7f7f7;
    position: relative;
  }

  .img-preivew {
    background : center center no-repeat;
    background-size: contain;
    height: 116px;
    width: 116px;
  }

  .profilePic{
    height: 96px;
    width : 96px;
    border-radius: 50px;
  }

  .input-img{
    display: none
  }

 /deep/ .mat-menu-content:not(:empty) {
  padding-top: 18px;
  padding-bottom: 8px;
  width: 260px;
  overflow: hidden;
  padding-left: 10px;
  padding-right : 10px;
}

.userName{
  font-weight: bold;
  margin: -4px 0 1px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
  font-family: Roboto,Arial,sans-serif;
  font-size: 12px;
  font-weight: 550;
}

.userMail{
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: Roboto,Arial,sans-serif;
  font-size: 12px;
  font-weight: 500;
}


  .logout{
    box-sizing: border-box;
    color: rgba(0,0,0,.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 550;
    line-height: 1.25rem;
    height: 3px;
    // padding: 8px 24px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

}

::ng-deep .mat-menu-panel {
  max-width: 1000px !important;
}

.logoutMenu {
 width: 500px;
}

::ng-deep .logoutMenu .mat-menu-content:not(:empty) {
  width: 303px !important;
}