.note-title-area{
    border: none;
    outline: none;
    width:100%;
    background:transparent;
    
    // color:rgb(143, 142, 142);
     font:550 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.note-content-area{
    background-color: rgb(255, 255, 255);
    width:100%;
    outline:none;
    border:none;
    background: transparent;
    
        font-family: 'Google Sans',Roboto,Arial,sans-serif;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5rem;
    
}

/deep/ .mat-dialog-container {
    display: block;
    padding: 0px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    

}

/deep/ .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    background-color: rgba(255, 255, 255,0.6)
}

.edit-card{
    padding: 10px;
    min-height: 160px;
    min-width: 650px;
}

.close-button{
    box-sizing: border-box;
    color: rgba(0,0,0,.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 550;
    line-height: 1.25rem;
    height: 36px;
    padding: 8px 24px;
    -webkit-border-radius: 4px;
    border-radius: 4px; 
}

:host /deep/ .mat-chip {
    font-size: 10px;
    font-weight: 500;
}

:host /deep/ .mat-standard-chip {
    padding: 7px 7px;
    min-height: 26px;
 
}

:host /deep/ .mat-chip.mat-standard-chip {
    color: rgba(0,0,0,.87);
    background: #0000001f;
}

:host /deep/ .mat-standard-chip.mat-chip-with-trailing-icon {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 4px;
    padding-left: 0px;
}

.time-icon{
    margin-right: 8px;
}

:host /deep/ 
.mat-chip.mat-standard-chip .mat-chip-remove {
    color: rgba(0,0,0,.87);
    opacity: 0.6;
}

.show-reminders .remove{
    opacity: 1;
    visibility: hidden;
}
.show-reminders:hover .remove{
    opacity: 1;
    visibility: visible;
}

.show-time{
    color: rgba(0,0,0,.87);
    font-weight: 550;
    font-size: 11px;
    border: 1px solid transparent;
    text-align: center;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;


}

.chip-list{
    margin-top:10px;
    padding: 10px;
}

.edit-card-withImage{
    overflow-y:auto;
    overflow-x: hidden;
    max-height: 550px;
}
img{
    max-width:775px;

}

.area-withImage{
    padding: 10px;
}

.card-image:hover .btn {
    visibility: visible;
    position: absolute;
    top: 91%;
    left: 94%;
    // transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
   background: rgb(187, 187, 187);
    color: white;
    font-size: 13px;
    // padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

  }
.btn{
    visibility: hidden;
    position: absolute;
    top: 91%;
    left: 94%;
    // transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
   background: rgb(78, 77, 77);
    color: white;
    font-size: 13px;
    // padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    // transition: visibility 0.5s, opacity 0.2s linear;
    opacity: 0.2s;
    transition: 0.5s;

}

.btn:hover {
    background: rgb(37, 37, 37) !important;
    // transition: visibility 0.5s, opacity 0.2s linear;
    opacity: 1;
    
 
}
  .card-image{
    position: relative;
    transition: visibility 0.5s, opacity 0.2s linear;

  }

  /deep/ .mat-icon-button {
    width: 30px;
    height: 34px;
}

/deep/ .material-icons {
    font-size: 17px;
}