<div class="card" fxLayout="{{chooseView}}" fxFlex="" fxLayoutAlign="center center">
  <div *ngFor="let item of items">
    <div class="trash-card" >
      <mat-card fxFlex="100" class="card-content" fxLayout="column"
      [ngClass]="{'cardGridView': chooseView == 'row wrap','cardListView': chooseView == 'column wrap'}"
      fxFlex.xs="100" [style.backgroundColor]="item.color"> 
          <div fxFlex="88" class="item-title" >{{item.noteTitle}}</div>
          <div fxFlex="4">
            <button mat-icon-button></button>
          </div>
    
        <mat-card-content fxLayout="column">
          <div class="description">{{item.noteContent}}</div>

          <mat-card-footer>
            <div class="matCardFooterIcons">
            </div>
          </mat-card-footer>
        </mat-card-content>
      </mat-card>
      </div>
    </div>
  </div>

