<div fxLayout="column">
  <div fxLayout="row">
  <div fxFill fxLayoutAlign="center center" class="trash-header" >
    Notes in Trash are deleted after 7 days.
  <div class="trash-btn">  <button mat-button  (click)="emptyTrash()">
    <span class="trash">Empty Trash
      </span>
    </button> </div>
  </div>
</div>
  <div class="card" fxLayout="{{chooseView}}" fxLayoutAlign="center center">
    <div *ngFor="let item of items" >
      <div class="trash-card">
        <mat-card fxFlex="100" class="card-content" fxLayout="column" 
          [ngClass]="{'cardGridView': chooseView == 'row wrap','cardListView': chooseView == 'column wrap'}"
          fxFlex.xs="100" [style.backgroundColor]="item.color">
          <div fxFlex="88" class="item-title">{{item.noteTitle}}</div>
          <div fxFlex="4">
            <button mat-icon-button></button>
          </div>

          <mat-card-content fxLayout="column">
            <div class="description">{{item.noteContent}}</div>

            <mat-card-footer>
              <div class="matCardFooterIcons">
                <button mat-icon-button [matMenuTriggerFor]="menu" (click)=" getItemDetails(item)">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)=" deleteForever()">
                    <mat-icon>delete</mat-icon>
                    <span>Delete forever</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>restore</mat-icon>
                    <span>Restore</span>
                  </button>

                </mat-menu>
              </div>

            </mat-card-footer>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>