$wheat: #E6F5FF;
$blue: #2B93DD;
$blue1: #2283C9;
$royalBlue: #116CAE;
$darkBlue: #03233A;
$darkBlue3: #052E4B;
$grey: #7C7C7C;
$white: #fff;
$wheat1: #F6F6F6;
$pink: #F55B93;
$grey1: #A1A1A1;
$grey2: #E4E4E4;
$grey3: #707070;
$grey4: #FAFAFA;

$green:#2CC22C;
$whiteShade:#EAEAEA;
$grayShade:#6F6F6F;
$whiteShade1:#EDEDED;
$darkBlue1:#072C47;
$darkBlue2:#031E32;
$darkYellow: #F17907;
$black: #202124;
$darkBlue4: #042339;

$grayShade1: #616161;
$fontColorGrey: #5A7187;

