
.collab-title{
    border-bottom: 1px solid rgba(0,0,0,0.15);
    font-size: 18px;
    font-weight: 550;
    height: 25px;
    padding: 0 0 10px 0;
    font-family: 'Roboto',arial,sans-serif;

}

/deep/ .mat-dialog-container {
    display: block;
    padding: 0px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    min-width: inherit;
}

.main-collab{
    min-height:220px;
    width:580px;
}
   
.account-icon{
    position : relative;
    height: 36px;
    width : 36px;
    border-radius: 50px;
}

.owner-details{
    margin-top: 10px;
}

.owner-img{
    margin-right:17px;
  }

  .initials{
    color: #000000;
    direction: ltr;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 13px;
    font-weight: 800;
  }

.owner{
    font-style: italic;
    font-size: 13px;
    color: #000000;

}  

.user-email{
    color: rgba(0,0,0,.54);
    font-size: 14px; 
}

.footer{
    background-color: rgba(0,0,0,0.07);
    height: 75px;

}

.main{
    padding: 15px;
  
}

.save{
        box-sizing: border-box;
        color: rgba(0,0,0,.87);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        letter-spacing: .01785714em;
        font-family: 'Google Sans',Roboto,Arial,sans-serif;
        font-size: .875rem;
        font-weight: 550;
        line-height: 1.25rem;
        height: 3px;
        // padding: 8px 24px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
}

.cancel{
    box-sizing: border-box;
    color: rgba(0,0,0,.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 550;
    line-height: 1.25rem;
    height: 3px;
    // padding: 8px 24px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

}

.save-btn{
    margin-right: 23px;
    margin-left: 13px;
}

.add-icon{
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px;
    border: solid 1px rgb(131, 129, 129);
    height: 36px;
    width : 36px;
    margin-top: 8px;
}

.img-add-person{
    margin-left: 8px;
    margin-top: 8px;
    opacity: 0.5;
}

.input-field{
    margin-left: 14px;
    margin-top: 17px;
}

:placeholder-shown{
    font-size: 13px;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    letter-spacing: 0.49px;

}