<!-- <div fxFlex="100" fxLayoutAlign="space-around start" fxFlex.xs="100"> -->

<div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">

  <button mat-icon-button matTooltip="Remind me" (click) = "toggleReminder()" (click) = "toShowReminder()" >
    <mat-icon>notification_important</mat-icon>
  </button>
  

   <div *ngIf="reminder && showReminder">
    <div>set time</div>
   </div> 

  <mat-menu #menu4="matMenu" class="matmenu">
    <mat-divider></mat-divider>



  </mat-menu>

  <button class="collaborator" matTooltip="collaborator" mat-icon-button>
    <mat-icon>person_add</mat-icon>
  </button>

  <button matTooltip="change color" mat-icon-button >
    <mat-icon>color_lens</mat-icon>
  </button>
  <!-- <mat-menu #menu5="matMenu" class="colorsMenu" >
    <button mat-mini-fab matTooltip="white" class="white"> </button>
    <button mat-mini-fab matTooltip="red" class="red"></button>
    <button mat-mini-fab matTooltip="orange" class="orange"></button>
    <button mat-mini-fab matTooltip="yellow" class="yellow"></button><br>
    <button mat-mini-fab matTooltip="green" class="green"></button>
    <button mat-mini-fab matTooltip="teal" class="teal"></button>
    <button mat-mini-fab matTooltip="Blue" class="blue"></button>
    <button mat-mini-fab matTooltip="Dark Blue" class=darkblue></button><br>
    <button mat-mini-fab matTooltip="purple" class="purple" (click)='color("#87ceeb")'></button>
    <button mat-mini-fab matTooltip="pink" class="pink"></button>
    <button mat-mini-fab matTooltip="Brown" class="Brown"></button>
    <button mat-mini-fab matTooltip="Gray" class="gray"></button>

  </mat-menu> -->

  <button matTooltip="add image" mat-icon-button>
    <mat-icon>insert_photo</mat-icon>
  </button>


  <button mat-icon-button [matMenuTriggerFor]="menu2" matTooltip="more">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item>
      <span>Add label</span>
    </button>
    <button mat-menu-item disabled>
      <span>Add drawing</span>
    </button>
  
    <button mat-menu-item>
      <span>Show checkboxes</span>
    </button>
   
  </mat-menu>
 
  <!-- <button mat-button (click)="messageHit()" >close</button> -->
</div> 
<!-- </div> -->
<div class="reminder-menu" *ngIf="!remainder && showReminder">
    <label>Reminder:</label>
    <button mat-menu-item>Later Today
    <label>8:00 PM</label>
   </button>

   <button mat-menu-item>Tomorrow
       <label>8:00 AM</label>
      </button>

      <button mat-menu-item>Next week
         <label>Mon, 8:00 AM</label>
        </button>

        <button mat-menu-item>Home
           <label>Kolkata</label>
          </button>
          
          <button mat-menu-item>Work
             <label>Mumbai</label>
            </button> 

            <button mat-menu-item (click)="toggleReminder()">
              <mat-icon>access_time</mat-icon>Pick date & time
            </button>

  </div>