.matcard{
   
    margin-top: 20px;
}
.Border{
    border-color: white;
}


[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.maincard{
    width: 60%;
    color: rgb(173, 166, 166);
    //margin-top: 30px;
}
:host /deep/ .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    opacity: 0.88;
}

.reminder-menu{
  position: relative;
}

:host /deep/ .mat-tooltip {
    /* your own custom styles here */ 
    /* e.g. */
    color: yellow;
}

.colors{
    border-radius: 50px;
    height: 28px;
    width: 28px;
    border: lightgrey solid 1px;
}

.color-buttons{
    padding: 2px;
}


img{
    height: 18px;
    margin-bottom: 5px;
    opacity: 0.68;
}

::ng-deep .timepicker__header[_ngcontent-c17] {
    background-color: #8500ff;
}

::ng-deep .timepicker {
    position: relative !important;
    top: -200px !important;
    left: 112px !important;
}

/deep/ .mat-menu-content:not(:empty) {
    padding-top: 13px;
    padding-bottom: 8px;
}

.texts{
    font-size: 13px;
    padding: 15px;
    color: black;
    font-weight: 500;
    font-family: 'Roboto',arial,sans-serif;
    letter-spacing: 0.04em;

}

.fake-text-show{
    font-size: 13px;
    letter-spacing: 0.03em;
    font-family: 'Roboto',arial,sans-serif;
    color: black;
    font-weight: 500;

    
}

.fake-time-show{
    color: #afadad;
    font-size: 12px;
    font-family: monospace;
    padding-left: 100px;
}

.fake-time-show-2{
    color: #afadad;
    font-size: 12px;
    font-family: monospace;
    padding-left: 113px;
}

.fake-time-show-3{
    color: #afadad;
    font-family: monospace;
    padding-left: 72px;
    font-size: 12px;
}

.fake-time-show-4{
    color: #afadad;
    font-family: monospace;
    padding-left: 136px;
    font-size: 12px;
}

.fake-time-show-5{
    color: #afadad;
    font-family: monospace;
    padding-left: 146px;
    font-size: 12px;
}

::ng-deep .mat-menu-item .mat-icon {
    margin-right: 16px;
    vertical-align: middle;
    font-size: 16px;
    margin-top: 5px;
}