.f{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .25px;
    color: rgb(89, 245, 89);

}

.u{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .25px;
    color: rgb(252, 49, 49)
}

.n{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .25px;
    color: rgb(226, 226, 19);
}

.d{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .25px;
    color: rgb(40, 40, 240);
}

.o{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .25px;
    color:  rgb(252, 49, 49);
}

.oo{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .25px;
    color:  rgb(89, 245, 89)
}

.N{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .25px;
    color:  rgb(226, 226, 19);
}
.t{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .25px;
    color: rgb(40, 40, 240);
}
.e{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .25px;
    color:  rgb(252, 49, 49);
}

.s{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .25px;
    color:  rgb(226, 226, 19);
}