<div *ngIf="items.length <= 0" fxLayout="row" fxLayoutAlign="end center" >
  <img class="trash-pic" src = "../../../assets/reminder.svg"> 
  <div class="no-trash-text">Notes with upcoming reminders appear here</div>
 </div>
<div class="card" fxLayout="{{chooseView}}" fxFlex="92" fxLayoutAlign="center center">
  <div *ngFor="let item of items">
    <div>
      <mat-card fxFlex="100" class="card-content"
        [ngClass]="{'cardGridView': chooseView == 'row wrap','cardListView': chooseView == 'column wrap'}"
        fxFlex.xs="100" [style.backgroundColor]="item.color">
        <div>
          <div fxFlex="88" class="item-title">{{item.noteTitle}}</div>
          <div fxFlex="4">
            <button mat-icon-button></button>
          </div>
        </div>
        <mat-card-content fxLayout="column">
          <div class="description">{{item.noteContent}}</div>

          <mat-card-footer>
            <mat-chip-list class="chip-list">

              <mat-chip class="show-reminders" style="margin-left: 10px;" *ngIf="item?.reminder">
                <mat-icon matChipRemove class="time-icon" style="margin-right: 8px;">access_time</mat-icon>
                <span class="show-time">{{item?.reminder}}</span>
                <mat-icon matChipRemove class="remove" (click)="removeReminder(item)">close </mat-icon>
              </mat-chip>
            </mat-chip-list>
            <div class="matCardFooterIcons">
              <app-icon-list></app-icon-list>
            </div>
          </mat-card-footer>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>