.matcard{
    margin-top:20px
}

.text-area{
    border-color:white;
}

[contentEditable=true]:empty:not(:focus)::before{
    content:attr(data-text);
    font:550 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.maincard{
    width:60%; color:rgb(173,166,166);
}

.note{
    margin-top:20px;
}

.big-note{
    margin-top:20px;
}


@media only screen and (max-width: 600px){

.note{
    margin-top:60px;
}

.big-note{
    margin-top:60px;
}
}
.title{
    border: none;
    margin-bottom: 15px;
    outline: none;
    width:100%;
    background:transparent;
    
    // color:rgb(143, 142, 142);
     font:550 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    //  background-color: rgb(255, 255, 255);

}
.area{
    width: 100%;
}
.add-note{
    font:550 14px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    background-color: rgb(255, 255, 255);
    width:100%;
    outline:none;
    border:none;
    background: transparent;
    
}

.xyz{
    position: relative;
}

.icons{
    margin-top : 20px;
    width: 100%;
}

.mat-card{
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.20);
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.20);
    border: 1px solid #dadce0;
    margin-bottom: 40px

}
.logo{
    height: 39px;
    width:10px;
}


.close{
    box-sizing: border-box;
    color: rgba(0,0,0,.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 550;
    line-height: 1.25rem;
    height: 36px;
    padding: 8px 24px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.check-box{
    opacity: .55;
}
.brush{
    opacity: .55;
}
.photo{
    opacity: .55;
}

img{
    opacity: .55;
}