
.signUpButton{
    color: blue
}

.register-header{
    margin-top:15%;
}

.form1{
    margin-top: 2%
}

.fundoo-img{
   height:200px 
}
h1 {
    font-size: 24px;
    font-weight: 550;
    line-height: 60px;
        margin: 0;
    font-family: 'Google Sans',arial,sans-serif;
    text-align: left;
    margin-block-start: -0.3em;
    margin-block-end: 0.30em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.f{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color: rgb(89, 245, 89);

}

.u{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color: rgb(252, 49, 49)
}

.n{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color: rgb(226, 226, 19);
}

.d{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color: rgb(40, 40, 240);
}

.o{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color:  rgb(252, 49, 49);
}

.oo{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color:  rgb(89, 245, 89)
}

.N{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color:  rgb(226, 226, 19);
}
.t{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color: rgb(40, 40, 240);
}
.e{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color:  rgb(252, 49, 49);
}

.s{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color:  rgb(226, 226, 19);
}

:host /deep/ .mat-error{
    color :#d50000;
    font: 12px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 540
}

:host /deep/ .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: black;
}


.img{
    display:flex;
    flex-direction: row;
}

.btn-next{
    display: block;
    font-family: 'Google Sans',arial,sans-serif;
    font-weight: 500;
    letter-spacing: .25px;
    background: #1068f5;
    color: #fff;
    font-size: 14px;
    font-weight: 550;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.btn-signIn{
    color: #1068f5;
    cursor: pointer;
    display: inline-block;
    font-family: 'Google Sans',arial,sans-serif;
    font-weight: 550;
    letter-spacing: .25px;
    line-height: 36px;
    padding: 6px 0;
    position: relative;
}

.tag-line{
    color: #202124;
    font-family: roboto,arial,sans-serif;
    direction: ltr;
    line-height: 1.4286;
    font-size: 16px;
}
