.login-form{
    margin-top: 2%
}

.login-card{
    box-shadow: 1px 4px 5px rgba(0,0,0,0.20);
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.20);
    border: 1px solid #dadce0;
    border-radius: 9px;

    
}

.login-header{
    margin-top: 8%;
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 1.5;
    font-weight: 400;
    color: #202124;
    font-family: roboto,arial,sans-serif;
}

.login-subheader{
    font-size: 24px;
    font-family: 'Google Sans',arial,sans-serif;
}

.login-subsubheader{
    color: #202124;
    font-family: roboto,arial,sans-serif;
    color: rgba(0,0,0,.87);
    direction: ltr;
    font-family: 'Roboto',sans-serif;
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 1.5;
    direction: ltr;

}

.forgot{
    display: inline-block;
    margin: .5em;
    color: #1068f5;
    font-family: 'Google Sans',arial,sans-serif;
    letter-spacing: .25px;
    line-height: 20px;
    min-width: 88px;
    font-size: 15px;
    font-weight: 550;

}
.submit{
    display: block;
    font-family: 'Google Sans',arial,sans-serif;
    font-weight: 500;
    letter-spacing: .25px;
    background: #1068f5;
    color: #fff;
    font-size: 14px;
    font-weight: 550;
    text-align: center;
    -webkit-tap-highlight-color: transparent;

}
.next{
    font-weight: 550;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    font-size: 14px;
    font-family: 'Google Sans',arial,sans-serif;
    color: #fff;
    letter-spacing: .45px;

}

.f{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color: rgb(89, 245, 89)
}

.u{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color: rgb(252, 49, 49)
}

.n{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color: rgb(226, 226, 19);
}

.d{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color: rgb(40, 40, 240);
}

.o{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color:  rgb(252, 49, 49);
}

.oo{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color:  rgb(89, 245, 89)
}

.N{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color:  rgb(226, 226, 19);
}
.t{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color: rgb(40, 40, 240);
}
.e{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color:  rgb(252, 49, 49);
}

.s{
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: .35px;
    color:  rgb(226, 226, 19);
}