[contentEditable=true]:empty:not(:focus)::before{
    content:attr(data-text);
}

.title{
    border: none;
    margin-bottom: 15px;
    
    // color:rgb(143, 142, 142);
     font:550 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
     background-color: rgb(255, 255, 255);

}

.add-note{
    color: rgb(143, 142, 142);
    font:550 14px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    background-color: rgb(255, 255, 255);
    
}

.xyz{
    position: relative;
}

.icons{
    margin-top : 20px;
}