<ng4-loading-spinner [threshold]="0000" [timeout]="3000" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
<div fxFlex="100" fxLayoutAlign="center center" class="reset-form">
  <div fxFlex="30" fxFlex.xs="90" fxFlex.sm="60">
    <mat-card class="reset-card" >
      <div class="reset-header">
        <mat-card-header fxLayoutAlign="center">
          <mat-card-title class="reset-header">
            <span class="f">F</span>
            <span class="u">u</span>
            <span class="n">n</span>
            <span class="d">d</span>
            <span class="o">o</span>
            <span class="oo">o</span>
            <span class="N">N</span>
            <span class="oo">o</span>
            <span class="t">t</span>
            <span class="e">e</span>
            <span class="s">s</span>
          </mat-card-title>
        </mat-card-header>
  
        <mat-card-header fxLayoutAlign="center">
          <mat-card-title class="reset-subheader">Account recovery</mat-card-title>
        </mat-card-header>
  
        <mat-card-header>
          <mat-card-title class="reset-subsubheader">Enter new password you want to set for your Fundoo Account
          </mat-card-title>
        </mat-card-header>
      </div>
  
      <div class="forgot-email">
        <mat-form-field class="reset-password-input" appearance="outline" fxLayout="column">
          <mat-label>New password</mat-label>
          <input class="reset-password-field" matInput placeholder="Your new password" [formControl]="newPassword"
            autocomplete="off" [type]=" hide ? 'password' : 'password'" autocomplete="off">
          <mat-error *ngIf="newPassword.invalid"> {{errorMessageForPassword()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="reset-password" fxLayout="row" fxLayoutAlign.sm = "space-between center" fxLayoutAlign.xs = "space-between center" fxLayoutAlign = "space-between center">
          <button mat-button class="sign-button" routerLink="/login"><span >Sign In</span></button>
          <button mat-raised-button class="submittt" (click) = "resetPassword()"><span class="nexttt">Next</span></button>
        </div>
      
     
    </mat-card>
  </div>
  </div>
