<div fxFlex="100" fxLayoutAlign="center center" class="reset-form">
    <mat-card class="reset-card" fxFlex="30">
  
      <div class="reset-header">
        <mat-card-header fxLayoutAlign="center">
          <mat-card-title class="reset-header">
            <span class="f">F</span>
            <span class="u">u</span>
            <span class="n">n</span>
            <span class="d">d</span>
            <span class="o">o</span>
            <span class="oo">o</span>
            <span class="N">N</span>
            <span class="oo">o</span>
            <span class="t">t</span>
            <span class="e">e</span>
            <span class="s">s</span>
          </mat-card-title>
        </mat-card-header>
  
        <mat-card-header fxLayoutAlign="center">
          <mat-card-title class="reset-subheader">Account recovery</mat-card-title>
        </mat-card-header>
  
        <mat-card-header>
          <mat-card-title class="reset-subsubheader">Enter new password you want to set for your Fundoo Account
          </mat-card-title>
        </mat-card-header>
      </div>
  
      <div class="forgot-email">
        <mat-form-field class="reset-password-input" appearance="outline" fxLayout="column">
          <mat-label>New password</mat-label>
          <input class="reset-password-field" matInput placeholder="Your new password" [formControl]="newPassword"
            autocomplete="off">
          <mat-error *ngIf="newPassword.invalid"> {{errorMessageForPassword()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="reset-password" fxLayoutAlign="end">
        <button mat-raised-button class="submittt" (click) = "resetPassword()"><span class="nexttt">Next</span></button>
      </div>
     
    </mat-card>
  </div>
